<div {...Astro.props} data-interactive-animation>
  <div class="code">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>

    <div class="compiler"></div>
  </div>

  <div class="result">
    <span class="arrow">→</span>
    <span class="binary">10010110</span>
  </div>
</div>

<style lang="scss">
  [data-interactive-animation] {
    display: flex;
    align-items: center;
    gap: 6rem;
  }

  .code {
    position: relative;
    display: grid;
    gap: 1.5rem;
  }

  .line {
    height: 4rem;
    width: 32rem;
    border-radius: 0.8rem;

    background-color: currentColor;
    opacity: 0.25;
  }

  .compiler {
    position: absolute;
    width: 8rem;
    height: 8rem;

    background-color: var(--slide-accent);
    border-radius: 1.6rem;
    box-shadow: 0 0.25rem 1rem hsl(0 0% 50% / 0.8);

    inset-inline-end: 0;

    animation: compiledAnimationBox 4s ease-in-out infinite;

    @keyframes compiledAnimationBox {
      0%,
      100% {
        translate: 50% -25%;
        inset-block-start: 0;
      }

      80%,
      95% {
        translate: 50% -75%;
        inset-block-start: 100%;
      }
    }
  }

  .result {
    display: flex;
    gap: 1rem;

    animation: compiledAnimationResult 4s ease-in-out infinite;

    @keyframes compiledAnimationResult {
      0%,
      75%,
      100% {
        opacity: 0;
        translate: -10% 0;
      }

      80%,
      95% {
        opacity: 1;
        translate: 0 0;
      }
    }

    .arrow {
      font-weight: 300;
    }

    .binary {
      font-weight: 600;
    }
  }
</style>
