<div {...Astro.props} data-interactive-animation>
  <div class="code">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>

    <div class="interpreted"></div>
  </div>

  <div class="result">
    <span class="arrow">→</span>
    <span class="binary">10010110</span>
  </div>
</div>

<style lang="scss">
  [data-interactive-animation] {
    display: flex;
    align-items: center;
    gap: 6rem;
  }

  .code {
    position: relative;
    display: grid;
    gap: 1.5rem;
  }

  .line {
    height: 4rem;
    width: 32rem;
    border-radius: 0.8rem;

    background-color: currentColor;
    opacity: 0.25;
  }

  .interpreted {
    position: absolute;
    width: 8rem;
    height: 8rem;

    background-color: var(--slide-accent);
    border-radius: 1.6rem;
    box-shadow: 0 0.25rem 1rem hsl(0 0% 50% / 0.8);

    inset-inline-end: 0;

    animation: interpretedAnimationBox 4s ease-in-out infinite;

    @keyframes interpretedAnimationBox {
      0%,
      100% {
        translate: 50% -25%;
        inset-block-start: 0;
      }

      80%,
      95% {
        translate: 50% -75%;
        inset-block-start: 100%;
      }
    }
  }

  .result {
    display: flex;
    gap: 1rem;

    animation: interpretedAnimationResult 4s ease-in-out infinite;

    @keyframes interpretedAnimationResult {
      0%,
      9%,
      16%,
      19%,
      26%,
      29%,
      36%,
      39%,
      46%,
      49%,
      56%,
      59%,
      95%,
      100% {
        opacity: 0;
        translate: -10% 0;
      }

      10%,
      15%,
      20%,
      25%,
      30%,
      35%,
      40%,
      45%,
      50%,
      55%,
      60%,
      65% {
        opacity: 1;
        translate: 0 0;
      }
    }

    .arrow {
      font-weight: 300;
    }

    .binary {
      font-weight: 600;
    }
  }
</style>
