---
import Reveal from "../../../layouts/Reveal.astro";
import Slide from "../../../components/Slide.astro";
import Notes from "../../../components/Notes.astro";
import "../../../styles/adwaita.scss";
---

<Reveal title="Příroda, kultura, společnost">
  <>
    <!-- Inter font. -->
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- Ubuntu Mono font. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </>

  <Slide variant="blue-green-gradient">
    <h1 style={{ fontWeight: 600 }}>Příroda, kultura, společnost</h1>
    <small><br />Dominik Bartuška, Vojtěch Perník</small>

    <Notes>
      <a
        href="https://create.kahoot.it/share/priroda-kultura-spolecnost/da3dc11e-4086-4714-a524-0781525a877d"
      >
        Kahoot
      </a>
    </Notes>
  </Slide>

  <Slide>
    <Slide variant="green">
      <h2>Příroda</h2>
    </Slide>

    <Slide variant="dark" class="adw-text-small adw-rows adw-gap">
      <h3 style="font-size: 1.2em">má mnoho definic</h3>

      <div class="adw-rows adw-text-small adw-items-center" style="gap: 2em">
        <div class="adw-columns adw-gap">
          <div>
            <b>obecná</b>
            <p>
              Příroda zahrnuje veškeré živé organismy, neživé prvky, krajinné
              prvky a fyzikální síly, které existují mimo lidskou intervenci.
            </p>
          </div>
          <div>
            <b>biologická</b>
            <p>
              Příroda je systém organismů, ekosystémů a biotopů, který funguje
              bez přímého vlivu člověka.
            </p>
          </div>
        </div>
        <div class="adw-columns adw-gap">
          <div>
            <b>filozofická</b>
            <p>
              Příroda je kosmická síla, harmonie nebo základní esence existence,
              často spojovaná s klidem a rovnováhou.
            </p>
          </div>
          <div>
            <b>kulturní</b>
            <p>
              Příroda může být vnímána jako protipól kultury, což zahrnuje vše,
              co nebylo vytvořeno člověkem.
            </p>
          </div>
        </div>
      </div>
    </Slide>

    <Slide variant="green" class="adw-rows adw-gap">
      <h2>Příroda</h2>
      <p>to, co není vytvořeno lidmi</p>
    </Slide>
  </Slide>

  <Slide>
    <Slide variant="yellow-red-gradient" data-auto-animate>
      <h2>Kultura</h2>
    </Slide>

    <Slide
      variant="yellow-red-gradient"
      class="adw-rows adw-gap"
      data-auto-animate
    >
      <h2>Kultura</h2>
      <p>veškeré jednání člověka, které je vnímáno v kontrastu s přírodou</p>
    </Slide>

    <Slide class="adw-rows adw-gap adw-text-start adw-text-small">
      <h2>Kultura</h2>
      <ul>
        <li class="fragment">
          soubor prvků, které formují způsob života společnosti
        </li>
        <li class="fragment">adaptivní</li>
        <li class="fragment">
          dělení:
          <ol>
            <li class="fragment">
              <b>hmotná</b> - produkty lidské činnosti
            </li>
            <li class="fragment">
              <b>nehmotná</b> - pravidla, jazyk, umění, …
            </li>
          </ol>
        </li>
        <li class="fragment">odlišná v čase a prostoru</li>
        <li class="fragment">kulturní difúze</li>
      </ul>

      <Notes>
        <ul>
          <li>
            soubor <b>společenských, intelektuálních, uměleckých a morálních</b>
             prvků, které formují způsob života určité skupiny nebo společnosti
          </li>
          <li>je adaptivní (přizpůsobuje se změnám)</li>
          <li>
            dělení:
            <ol>
              <li>
                <b>hmotná</b> (materiální) - produkty lidské činnosti, artefakty
              </li>
              <li>
                <b>nehmotná</b> (duchovní) - pravidla, normy, jazyk, řeč, gesta,
                písmo, umění, tanec, rodina atd.
              </li>
            </ol>
          </li>
          <li>je odlišná v čase a prostoru (antická, africká atd.)</li>
          <li>
            kulturní difúze - globalizací dochází k míšení kultur<br />
             vzniká nová netradiční standardizovaná (masová) kultura (stejnost,
            totožnost)
          </li>
        </ul>
      </Notes>
    </Slide>

    <Slide class="adw-rows adw-gap adw-text-start adw-text-small">
      <h3>Funkce kultury</h3>
      <ol>
        <li class="fragment">
          <b>humanizační</b> - z biologického tvora se stává lidská bytost
        </li>
        <li class="fragment">
          <b>socializační a výchovná</b> - osvojení si jazyka, rolí, zákonů
        </li>
        <li class="fragment">
          <b>akumulační</b> - předávání informací dalším generacím
        </li>
      </ol>

      <Notes>
        <ol>
          <li>
            <b>humanizační</b> (civilizační) - z biologického tvora se stává
            lidská bytost
          </li>
          <li>
            <b>socializační a výchovná</b> (regulativní) - osvojení si jazyka,
            sociálních rolí, návyků, pravidel, zákonů
          </li>
          <li>
            <b>akumulační</b> (poznávací) - předávání informací dalším generacím
            (např. přísloví, zvyky, obyčeje, knihy)
          </li>
        </ol>
      </Notes>
    </Slide>

    <Slide class="adw-rows adw-gap adw-text-start adw-text-small">
      <h3>Čím se člověk liší od zvířete</h3>

      <blockquote data-author="Alkmaión z Krotónu">
        „Člověk se liší od ostatních živočichů tím, že jediný chápe, zatímco
        ostatní vnímají, avšak nechápou.“
      </blockquote>

      <ul class="fragment">
        <li>fyzické rozdíly</li>
        <li>
          psychické rozdíly

          <ul class="adw-text-small">
            <li>vědomí</li>
            <li>kooperativní uvědomělá činnost</li>
            <li>verbální komunikace</li>
            <li>kultura</li>
            <li>víra</li>
          </ul>
        </li>
      </ul>

      <Notes>
        <p>Alkmaión z Krotónu - řecký filozof</p>
        <ul>
          <li>
            fyzické rozdíly

            <ul>
              <li>chůze po dvou</li>
              <li></li>
            </ul>
          </li>
          <li>
            psychické rozdíly

            <ul>
              <li>vědomí</li>
              <li>kooperativní uvědomělá činnost</li>
              <li>verbální komunikace</li>
              <li>kultura</li>
              <li>víra</li>
              <li>myšlení</li>
              <li>schopnost obsluhovat stroje</li>
            </ul>
          </li>
        </ul>
      </Notes>
    </Slide>
  </Slide>

  <Slide>
    <Slide variant="blue-purple-gradient">
      <h2>Vývojové etapy</h2>

      <Notes>jak člověk přistupoval k přírodě</Notes>
    </Slide>

    <Slide class="adw-rows adw-gap adw-text-start adw-text-small">
      <h3>1. počátky lidské existence</h3>
      <ul>
        <li>neproduktivní hospodářství, lov a sběr</li>
        <li>úplná závislost na přírodě, pasivní přístup</li>
      </ul>

      <Notes>
        <ul>
          <li>neproduktivní hospodářství - tak tak aby se sami uživili</li>
          <li>lov a sběr - základní celodenní činnost</li>
          <li>úplná závislost na přírodě, pasivní přístup - bez poškozování</li>
          <li>člověk součástí přírody</li>
        </ul>
      </Notes>
    </Slide>

    <Slide class="adw-rows adw-gap adw-text-start adw-text-small">
      <h3>2. první velká dělba práce</h3>
      <ul>
        <li>rozdělení na rolníky a pastevce</li>
        <li>podmaňování si přírody</li>
      </ul>

      <Notes>
        <ul>
          <li>
            rozdělení na rolníky a pastevce - lidé se začínají specializovat
          </li>
          <li>podmaňování si přírody - neolitická revoluce, domestikace</li>
          <li>lokální poškozování přírody - vypalování lesů pro pole</li>
        </ul>
      </Notes>
    </Slide>

    <Slide class="adw-rows adw-gap adw-text-start adw-text-small">
      <h3>3. vznik organizované společnosti</h3>
      <ul>
        <li>vznik prvních států</li>
        <li>menší úpravy terénu</li>
      </ul>

      <Notes>
        <ul>
          <li>vznik prvních států - Mezopotámie, Egypt</li>
          <li>narušování přírody stavbou hrází a zavlažovacích zařízení</li>
        </ul>
      </Notes>
    </Slide>

    <Slide class="adw-rows adw-gap adw-text-start adw-text-small">
      <h3>4. období průmyslové revoluce</h3>
      <ul>
        <li>zavádění strojů, větší produktivita</li>
        <li>znečišťování přírody, větší zásahy do krajiny</li>
      </ul>

      <Notes>
        <ul>
          <li>
            zavádění strojů, větší produktivita - vznik pevné pracovní doby a
            volného času
          </li>
          <li>znečišťování vodních toků a ovzduší odpady</li>
          <li>infrastruktura, doly, města, domy, …</li>
        </ul>
      </Notes>
    </Slide>

    <Slide class="adw-rows adw-gap adw-text-start adw-text-small">
      <h3>5. období vědecko-technologické revoluce</h3>
      <ul>
        <li>mechanizace a automatizace</li>
        <li>distinkce mezi původní a umělou krajinou</li>
        <li>nutnost ekologické politiky</li>
      </ul>

      <Notes>
        <ul>
          <li>
            mechanizace a automatizace - vznik nových profesí, nových činností
          </li>
          <li>rozdělení na přírodní a kulturní krajinu</li>
          <li>nutnost ekologické politiky - potřeba zabránit katastrofě</li>
        </ul>
      </Notes>
    </Slide>
  </Slide>

  <Slide>
    <Slide variant="accent">
      <h2>Ekologie</h2>
    </Slide>

    <Slide class="adw-rows adw-gap adw-text-start adw-text-small">
      <h2>Ekologie</h2>

      <ul>
        <li class="fragment">
          zkoumá vztahy mezi organismy a životním prostředím
        </li>
        <li class="fragment">
          řeší základní ekologické problémy:
          <ul>
            <li class="fragment">znečištění přírody</li>
            <li class="fragment">vyčerpání přírodních zdrojů</li>
            <li class="fragment">vymizení některých druhů</li>
            <li class="fragment">zajištění dostatečné a kvalitní potravy</li>
          </ul>
        </li>
      </ul>

      <Notes>
        <ul>
          <li>věda zkoumající vztahy mezi organismy a životním prostředím</li>
          <li>existuje od 60. let 20. století</li>
          <li>
            zabívá se základními ekologickými problémy:
            <ul>
              <li>znečištění zákldních přírodních složek</li>
              <li>vyčerpání přírodních zdrojů</li>
              <li>
                vyhynutí některých druhů živočichů a rostlin<br />
                 (červená kniha – seznam ohrožených druhů)
              </li>
              <li>zajištění potravin v určité kvalitě a kvantitě</li>
            </ul>
          </li>
        </ul>
      </Notes>
    </Slide>
  </Slide>

  <Slide variant="dark">
    <h2>Děkujeme za pozornost!</h2>
  </Slide>
</Reveal>
