.reveal {
  .controls {
    color: currentColor;
  }

  .progress {
    isolation: isolate;
    background: transparent;
    color: currentColor;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: currentColor;
      opacity: 0.2;
    }
  }
}
