---
import Reveal from "../../layouts/Reveal.astro";
import Slide from "../../components/Slide.astro";
import Notes from "../../components/Notes.astro";
import "../../styles/adwaita.scss";
import CompiledAnimation from "../../interactives/programming/introduction/CompiledAnimation.astro";
import InterpretedAnimation from "../../interactives/programming/introduction/InterpretedAnimation.astro";
---

<Reveal title="Úvod do programování">
  <>
    <!-- Inter font. -->
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- Ubuntu Mono font. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </>

  <Slide variant="blue-green-gradient">
    <h1>Úvod do programování</h1>
  </Slide>

  <Slide>
    <Slide variant="blue" data-auto-animate>
      <h2>Program?</h2>
    </Slide>

    <Slide variant="blue" data-auto-animate>
      <h2>Program?</h2>
      <br />
      <p>seznam instrukcí<br />pro počítač</p>
    </Slide>
  </Slide>

  <Slide>
    <Slide variant="green">
      <h2>Jazyk počítačů</h2>
    </Slide>

    <Slide variant="green">
      <small class="fragment" data-fragment-index="2">špatně</small>
      <div class="r-stack">
        <div
          class="big fragment custom c-fade-out-left"
          data-fragment-index="1"
        >
          čísla
        </div>
        <div class="fragment custom c-fade-in-right" data-fragment-index="1">
          <div class="big fragment shrink" data-fragment-index="2">
            instrukce<br />číselné kódy
          </div>
        </div>
      </div>
      <small class="fragment" data-fragment-index="2">čitelné</small>
    </Slide>
  </Slide>

  <Slide>
    <Slide variant="yellow">
      <h2>Programovací jazyky</h2>
    </Slide>

    <Slide variant="yellow">
      <div class="r-stack">
        <div class="fragment custom c-fade-out-left" data-fragment-index="2">
          <code>print("Hello, World!")</code>
          {" "}
          <span class="adw-arrow">
            →
            <div class="fragment" data-fragment-index="1">překladač</div>
          </span>
          {" "}
          <code>10010110</code>
        </div>
        <div class="fragment custom c-fade-in-left" data-fragment-index="3">
          <code>print("Hello, World!")</code>
          {" "}
          <span class="adw-arrow">
            →
            <div>překladač</div>
          </span>
          {" "}
          <code>10010110</code>
        </div>
        <div class="fragment custom c-fade-in-right" data-fragment-index="2">
          <div class="fragment custom c-fade-out-right" data-fragment-index="3">
            <span>Ahoj</span>
            {" "}
            <span class="adw-arrow">
              →
              <div>překladač</div>
            </span>
            {" "}
            <span>Hello</span>
          </div>
        </div>
      </div>
    </Slide>
  </Slide>

  <Slide>
    <Slide data-auto-animate>
      <h2>Dělení jazyků</h2>
      <p>podle typu překladače</p>
    </Slide>

    <Slide data-auto-animate>
      <h2>Dělení jazyků</h2>
      <p>podle typu překladače</p>
      <div class="adw-columns adw-space adw-text-center">
        <b>kompilované</b>
        <b>interpretované</b>
        <b>s virtuálním strojem</b>
      </div>
    </Slide>

    <Slide style="display: grid; justify-content: center; gap: 4rem;">
      <h3>Kompilované jazyky</h3>
      <CompiledAnimation />
    </Slide>

    <Slide style="display: grid; justify-content: center; gap: 4rem;">
      <h3>Interpretované jazyky</h3>
      <InterpretedAnimation />
    </Slide>

    <Slide>
      <h3>Jazyky s virtuálním strojem</h3>
    </Slide>
  </Slide>

  <Slide>
    <Slide variant="blue" data-auto-animate>
      <h2>Programovací paradigma</h2>
    </Slide>

    <Slide variant="blue" data-auto-animate>
      <h2>Programovací paradigma</h2>
      <br />
      <p>způsob, jakým se program píše</p>
    </Slide>
  </Slide>

  <Slide variant="dark" class="adw-text-start adw-text-small">
    <h2>Zdroje</h2>
    <ul class="adw-space" style="display: grid; gap: 1em;">
      <li>
        ITnetwork – Úvod do jazyka Java <i>[cit. 2. 1. 2023]</i><br />
        <small>
          https://www.itnetwork.cz/java/zaklady/java-tutorial-uvod-do-jazyka-java
        </small>
      </li>
      <li>
        Wikipedie – Just-in-time kompilace <i>[cit. 2. 1. 2023]</i><br />
        <small> https://cs.wikipedia.org/wiki/Just-in-time_kompilace</small>
      </li>
    </ul>
  </Slide>
</Reveal>
