---
type Props = {
  variant?: string;
  controlsColor?: string;
  [rest: string]: any;
};

const { variant, controlsColor, ...rest } = Astro.props;
---

<section data-variant={variant} data-controls-color={controlsColor} {...rest}>
  <slot />
</section>
