---
import Reveal from "../../../layouts/Reveal.astro";
import Slide from "../../../components/Slide.astro";
import Notes from "../../../components/Notes.astro";
import "../../../styles/adwaita.scss";
import "reveal.js/plugin/highlight/zenburn.css";
---

<Reveal title="Objektově orientované programování v Pythonu">
  <>
    <!-- Inter font. -->
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- Ubuntu Mono font. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </>

  <Slide variant="blue-purple-gradient">
    <h1>Objektově orientované programování v Pythonu</h1>
  </Slide>

  <Slide>
    <Slide variant="yellow">
      <h2>Úvodní opakování</h2>
    </Slide>

    <Slide variant="yellow">
      <p>Vypište do konzole text <code>Python je super!</code>.</p>
    </Slide>

    <Slide data-auto-animate variant="yellow">
      <p>
        Text <code>Python je super!</code> uložte do proměnné a její hodnotu
        vypište.
      </p>
    </Slide>

    <Slide data-auto-animate variant="yellow">
      <p style="opacity: 0.25;">
        Text <code>Python je super!</code> uložte do proměnné a její hodnotu
        vypište.
      </p>
      <p class="adw-space-small">Jakého datového typu hodnota je?</p>
    </Slide>

    <Slide variant="yellow">
      <p>
        Zeptejte se uživatele, jak se jmenuje a jakou má náladu, a vypište tato
        data do konzole.
      </p>
    </Slide>

    <Slide variant="yellow">
      <p>
        Vytvořte jednoduchý program na zdvojnásobení uživatelem zadaných čísel.
      </p>
    </Slide>

    <Slide variant="yellow">
      <p>
        Zeptejte se uživatele na věk, a pokud je uživatel zletilý, vypište <i
          >„Už můžeš pít alkohol!“</i
        >
      </p>
    </Slide>

    <Slide variant="yellow">
      <p>
        Vytvořte jednoduchý program, který bude opakovaně vypisovat <i
          >„Zadejte něco:“</i
        > Po potvrzení vstupu program vstup zopakuje. Program skončí potvrzením
        prázdného vstupu.
      </p>
    </Slide>

    <Slide variant="yellow">
      <p>
        Vytvořte jednoduchý program, který uživateli spočítá průměr jeho známek.
      </p>
    </Slide>

    <Slide variant="yellow">
      <p>
        Definujte funkci, která zvýší zadané číslo o <code>3</code>.
      </p>
    </Slide>
  </Slide>

  <Slide>
    <Slide variant="dark">
      <h2>Objektově orientované programování</h2>
    </Slide>
  </Slide>
</Reveal>
