---
import Reveal from "../../../layouts/Reveal.astro";
import Slide from "../../../components/Slide.astro";
import Notes from "../../../components/Notes.astro";
import "../../../styles/adwaita.scss";
import "reveal.js/plugin/highlight/zenburn.css";
---

<Reveal title="Základy Pythonu">
  <>
    <!-- Inter font. -->
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- Ubuntu Mono font. -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </>

  <Slide variant="blue-purple-gradient">
    <h1>Základy Pythonu</h1>
  </Slide>

  <Slide variant="dark">
    <div class="adw-columns adw-items-center">
      <img
        alt=""
        style="width: 5em; height: 5em; object-fit: contain;"
        src="/images/programovani/python/python.svg"
      />
      <div class="r-stack">
        <img
          alt=""
          class="fragment fade-out"
          data-fragment-index="1"
          style="width: 5em; height: 5em; object-fit: contain;"
          src="/images/programovani/python/vscode.svg"
        />
        <img
          alt=""
          class="fragment"
          data-fragment-index="1"
          style="width: 5em; height: 5em; object-fit: contain;"
          src="/images/programovani/python/vscodium.svg"
        />
      </div>
    </div>
  </Slide>

  <Slide>
    <Slide>
      <h2>Hello, World!</h2>
    </Slide>

    <Slide>
      <pre><code data-trim class="language-python">
      print("Hello, World!")
    </code></pre>
    </Slide>

    <Slide variant="yellow-red-gradient">
      <p style="font-size: 2em;">Jste <b>programátoři</b>!</p>
    </Slide>

    <Slide>
      <pre><code data-trim class="language-python">
      print("Hello, World!")
    </code></pre>
    </Slide>
  </Slide>

  <Slide>
    <Slide data-auto-animate>
      <div
        style="display: flex; gap: 1em; justify-content: center; align-items: center;"
      >
        <h2>Proměnné</h2>
        <img src="" alt="" />
      </div>
    </Slide>

    <Slide data-auto-animate>
      <div
        style="display: flex; gap: 1em; justify-content: center; align-items: center;"
      >
        <h2>Proměnné</h2>
        <img
          alt=""
          style="width: 4em; height: 4em; object-fit: contain;"
          src="/images/programovani/python/file-manager-symbolic.svg"
        />
      </div>
    </Slide>

    <Slide>
      <h3>Datový typ</h3>
      <br />
      <p>určuje, jakého typu je hodnota proměnné</p>
    </Slide>

    <Slide>
      <div class="adw-columns adw-gap adw-text-center adw-text-small">
        <div class="adw-rows" style="gap: 0.4em;">
          <h4>str</h4>
          <span>textový řetězec</span>
          <code>"Hello, World!"</code>
        </div>
        <div class="adw-rows" style="gap: 0.4em;">
          <h4>int</h4>
          <span>celé číslo</span>
          <code>17</code>
        </div>
        <div class="adw-rows" style="gap: 0.4em;">
          <h4>float</h4>
          <span>desetinné číslo</span>
          <code>17.3</code>
        </div>
        <div class="adw-rows" style="gap: 0.4em;">
          <h4>bool</h4>
          <span>logický výraz</span>
          <div class="r-stack">
            <code
              class="adw-full-width fragment custom c-fade-out-left"
              data-fragment-index="1"
            >
              3 &lt; 5
            </code>
            <div
              class="adw-full-width fragment custom c-fade-in-right"
              data-fragment-index="1"
            >
              <code
                class="adw-full-width fragment custom c-fade-out-left"
                data-fragment-index="2"
              >
                True
              </code>
            </div>
            <code
              class="adw-full-width fragment custom c-fade-in-right"
              data-fragment-index="2"
            >
              False</code
            >
          </div>
        </div>
      </div>
    </Slide>

    <Slide data-auto-animate>
      <h3>Typový systém</h3>
    </Slide>

    <Slide data-auto-animate>
      <h3>Typový systém</h3>
      <div class="adw-columns adw-space adw-text-center">
        <b>statický</b>
        <b>dynamický</b>
      </div>
    </Slide>

    <Slide>
      <pre><code data-trim class="language-python">
        pozdrav = "Hello, World!"
        print(pozdrav)
      </code></pre>
    </Slide>

    <Slide>
      <h3>Ruční určování datových typů</h3>
    </Slide>

    <Slide>
      <pre><code data-trim class="language-python">
        pozdrav: str = "Hello, World!"
        print(pozdrav)
      </code></pre>
    </Slide>
  </Slide>

  <Slide>
    <Slide>
      <h2>Načítání uživatelského vstupu</h2>
    </Slide>

    <Slide>
      <pre><code data-trim class="language-python">
      vstup = input("Zadejte text: ")
      print(vstup)
    </code></pre>
    </Slide>

    <Slide>
      <h3>Program Papoušek</h3>
    </Slide>

    <Slide>
      <div class="r-stack">
        <pre
          class="fragment custom c-fade-out-left"
          style="width: 100%;"
          data-fragment-index="1"><code data-trim class="language-python">
          vstup = input("Zadejte text: ")
          print(vstup + ", " + vstup + "!")
        </code></pre>
        <pre
          class="fragment custom c-fade-in-right"
          style="width: 100%;"
          data-fragment-index="1"><code data-trim class="language-python">
          vstup = input("Zadejte text: ")
          print(f"{"{vstup}"}, {"{vstup}"}!")
        </code></pre>
      </div>
    </Slide>

    <Slide variant="accent" class="adw-rows adw-gap">
      <small>
        <b>příklad</b>
      </small>
      <p>
        Vytvořte program, který se uživatele zeptá na jeho jméno a na to, jaký
        je. Poté vypíše větu „<i>Jméno</i> je <i>vlastnost</i>.“
      </p>
      <pre><code data-trim class="language-plaintext">
        Jak se jmenuješ? Jan
        Jaký jsi? veselý
        Jan je veselý.
      </code></pre>
    </Slide>

    <Slide variant="accent">
      <pre><code data-trim class="language-python">
        jmeno = input("Jak se jmenuješ? ")
        vlastnost = input("Jaký jsi? ")
        print(f"{"{jmeno}"} je {"{vlastnost}"}.")
      </code></pre>
    </Slide>
  </Slide>

  <Slide>
    <Slide>
      <h2>Jednoduchá kalkulačka</h2>
    </Slide>

    <Slide>
      <pre><code data-trim class="language-python">
        a = input("Zadejte první číslo: ")
        b = input("Zadejte druhé číslo: ")

        print(a + b)
        print(a - b)
        print(a * b)
        print(a / b)
      </code></pre>
    </Slide>

    <Slide>
      <pre><code data-trim class="language-plaintext">
        Zadejte první číslo: 12
        Zadejte druhé číslo: 3

        123
        Traceback (most recent call last):
          File "&lt;stdin&gt;", line 5, in &lt;code&gt;
        TypeError: unsupported operand type(s) for -: 'str' and 'str'
      </code></pre>
    </Slide>

    <Slide>
      <h2>Parsování</h2>
    </Slide>

    <Slide>
      <pre><code data-trim class="language-python">
        a = float(input("Zadejte první číslo: "))
        b = float(input("Zadejte druhé číslo: "))

        print(a + b)
        print(a - b)
        print(a * b)
        print(a / b)
      </code></pre>
    </Slide>

    <Slide>
      <pre><code data-trim class="language-plaintext">
        Zadejte první číslo: 12
        Zadejte druhé číslo: 3

        15.0
        9.0
        36.0
        4.0
      </code></pre>
    </Slide>
  </Slide>

  <Slide>
    <Slide>
      <h2>Podmínky</h2>
    </Slide>

    <Slide>
      <pre><code data-trim class="language-python">
        if 2 &gt; 1:
          print("Pravda!")
        print("Program zde pokračuje dál.")
      </code></pre>
    </Slide>

    <Slide>
      <pre><code data-trim class="language-python">
        a = int(input("Zadej nějaké číslo: "))

        if a % 2 == 0:
          print("Zadal jsi sudé číslo!")

        print("Program zde pokračuje dál.")
      </code></pre>
    </Slide>

    <Slide variant="accent" class="adw-rows adw-gap">
      <small>
        <b>příklad</b>
      </small>
      <p>
        Vytvořte program, kdy na začátku nastavíte proměnnou <code>a</code> na
        jedno z čísel <code>0</code> nebo <code>1</code>. Tato čísla následně
        prohodíte. Když proměnná obsahuje <code>0</code>, nastavíte ji na <code
          >1</code
        >, a naopak.
      </p>
    </Slide>

    <Slide variant="destructive" class="adw-rows adw-gap">
      <small>
        <b>pravděpodobné řešení</b>
      </small>
      <pre><code data-trim class="language-python">
        a = 0

        if a == 0:
          a = 1
        if a == 1:
          a = 0

        print(a)
      </code></pre>
      <pre><code data-trim class="language-plaintext">
        0
      </code></pre>
    </Slide>

    <Slide variant="accent" class="adw-rows adw-gap">
      <pre><code data-trim class="language-python">
        a = 0

        if a == 0:
          a = 1
        else:
          a = 0

        print(a)
      </code></pre>
      <pre><code data-trim class="language-plaintext">
        1
      </code></pre>
    </Slide>
  </Slide>

  <Slide>
    <Slide>
      <h2 style="margin-block-end: 0.5em;">Cyklus while</h2>
      <pre
        class="fragment fade-out"><code data-trim class="language-python">
        while 12 &gt; 3:
          print("Platí!")
      </code></pre>
    </Slide>

    <Slide variant="accent">
      <small style="display: block; margin-block-end: 0.5em;">
        <b>příklad</b>
      </small>
      <p>
        Pomocí cyklu <code>while</code> a jedné proměnné vypište čísla od 1 do
        10.
      </p>
    </Slide>

    <Slide variant="accent">
      <div class="r-stack">
        <pre
          class="fragment custom c-fade-out-left"
          style="width: 100%;"
          data-fragment-index="1"><code data-trim class="language-python">
          i = 1
          while i &lt;= 10:
            print(i)
            i = i + 1
        </code></pre>
        <pre
          class="fragment custom c-fade-in-right"
          style="width: 100%;"
          data-fragment-index="1"><code data-trim class="language-python">
          i = 1
          while i &lt;= 10:
            print(i)
            i += 1
        </code></pre>
      </div>
    </Slide>
  </Slide>

  <Slide>
    <Slide data-auto-animate>
      <h2>Seznam</h2>
    </Slide>

    <Slide data-auto-animate>
      <h2 style="margin-block-end: 0.5em;">Seznam</h2>
      <pre><code data-trim class="language-python">
        cisla = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
      </code></pre>
    </Slide>

    <Slide class="adw-rows adw-gap">
      <pre><code data-trim class="language-python">
        cisla = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
        print(cisla[4])
      </code></pre>
      <pre><code data-trim class="language-plaintext">
        4
      </code></pre>
    </Slide>

    <Slide class="adw-rows adw-gap">
      <pre><code data-trim class="language-python">
        cisla = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
        cisla[6] = 17
        print(cisla[6])
      </code></pre>
      <pre><code data-trim class="language-plaintext">
        17
      </code></pre>
    </Slide>

    <Slide class="adw-rows adw-gap">
      <pre><code data-trim class="language-python">
        cisla = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
        print(cisla)

        cisla = list(range(10))
        print(cisla)
      </code></pre>
      <pre><code data-trim class="language-plaintext">
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
        [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
      </code></pre>
    </Slide>
  </Slide>

  <Slide>
    <h2>Cyklus for</h2>
    <div class="r-stack adw-space-mini">
      <pre
        class="fragment custom c-fade-out-left"
        data-fragment-index="1"><code data-trim class="language-python">
        for i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]:
          print(i + 1)
        </code></pre>
      <pre
        class="fragment custom c-fade-in-right"
        data-fragment-index="1"><code data-trim class="language-python">
        for i in range(10):
          print(i + 1)
      </code></pre>
    </div>
  </Slide>

  <Slide>
    <Slide>
      <h2>Práce s textovým řetězcem</h2>
    </Slide>

    <Slide>
      <h3>Vytváření textových řetězců</h3>
      <pre
        class="adw-space-mini"><code data-trim class="language-python">
        prazdny_retezec = ""
        jiny_prazdny_retezec = ''
        jazyk = "Python"
        datovy_typ = 'str'
      </code></pre>
    </Slide>

    <Slide>
      <h3>Escapování znaků</h3>
      <pre
        class="adw-space-mini"><code data-trim class="language-python">
        prima_rec = 'Řekl jsem mu: "Umím Python!"'
        escapovana_prima_rec = "Řekl jsem mu: \"Umím Python!\""
      </code></pre>
      <div class="fragment adw-space-small adw-rows" style="gap: 0.25em;">
        <pre><code data-trim class="language-python">
          print("tabulátor \t, \\, \", nový \n řádek")
        </code></pre>
        <pre><code data-trim class="language-plaintext">
          tabulátor       , \, ", nový
           řádek
        </code></pre>
      </div>
    </Slide>

    <Slide>
      <h3>Délka řetězce</h3>
      <pre
        class="adw-space-mini"><code data-trim class="language-python">
        print(len("Ahoj!"))
      </code></pre>
      <pre
        class="adw-space-mini"><code data-trim class="language-plaintext">
        5
      </code></pre>
    </Slide>

    <Slide>
      <h3>Textový řetězec jako seznam znaků</h3>
      <pre
        class="adw-space-mini"><code data-trim class="language-python">
        text = "Ahoj!"
        print(text[0])
        for znak in text:
          print(znak, end=" ")
      </code></pre>
      <pre
        class="adw-space-mini"><code data-trim class="language-plaintext">
        A
        A h o j !
      </code></pre>
    </Slide>

    <Slide>
      <h3>Ciferný součet za pomoci převodu na <code>str</code></h3>
      <pre
        class="adw-space-mini"><code data-trim class="language-python">
        cislo = 947

        cif_soucet = 0
        for cifra_str in str(cislo):
          cif_soucet += int(cifra_str)

        print(cif_soucet)
      </code></pre>
      <pre
        class="adw-space-mini"><code data-trim class="language-plaintext">
        20
      </code></pre>
    </Slide>

    <Slide variant="accent" class="adw-rows adw-gap">
      <small>
        <b>příklad</b>
      </small>
      <p>Vytvořte program, který spočítá ciferný součet bez převodu typů.</p>
      <pre><code data-trim class="language-plaintext">
        947 ÷ 10 = 94 zb. 7
        print(947 % 10) → 7
      </code></pre>
      <pre><code data-trim class="language-python">
        import math
        print(math.floor(947 / 10))    # 94
      </code></pre>
    </Slide>

    <Slide variant="accent">
      <pre><code data-trim class="language-python">
        import math

        cislo = 947

        cif_soucet = 0
        while cislo &gt; 0:
          cif_soucet += cislo % 10
          cislo = math.floor(cislo / 10)

        print(cif_soucet)
      </code></pre>
    </Slide>

    <Slide>
      <h3>Textový řetězec jako logická hodnota</h3>
      <div class="r-stack adw-space-mini">
        <div
          class="adw-full-width fragment custom c-fade-out-left"
          data-fragment-index="1"
        >
          <pre><code data-trim class="language-python">
            text = "Ahoj!"
            prazdny_retezec = ""

            print(bool(text))
            print(bool(prazdny_retezec))
          </code></pre>
          <pre
            class="adw-space-mini"><code data-trim class="language-plaintext">
            True
            False
          </code></pre>
        </div>

        <div
          class="adw-full-width fragment custom c-fade-in-right"
          data-fragment-index="1"
        >
          <pre><code data-trim class="language-python">
            text = "Ahoj!"

            if text:
              print("Řetězec není prázdný!")
          </code></pre>
          <pre
            class="adw-space-mini"><code data-trim class="language-plaintext">
            Řetězec není prázdný!
          </code></pre>
        </div>
      </div>
    </Slide>

    <Slide>
      <h3>
        <code>startswith()</code>, <code>endswith()</code> a <code>in</code>
      </h3>
      <pre
        class="adw-space-mini"><code data-trim class="language-python">
        vstup = "Krokonosohroch"
        print(vstup.startswith("krok"))
        print(vstup.endswith("hroch"))
        print("nos" in vstup)
        print("roh" in vstup)
      </code></pre>
      <pre
        class="adw-space-mini"><code data-trim class="language-plaintext">
        False
        True
        True
        False
      </code></pre>
    </Slide>

    <Slide>
      <h3><code>lower()</code> a <code>upper()</code></h3>
      <pre
        class="adw-space-mini"><code data-trim class="language-python">
        text = "Ahoj!"
        print(text.lower())
        print(text.upper())
      </code></pre>
      <pre
        class="adw-space-mini"><code data-trim class="language-plaintext">
        ahoj!
        AHOJ!
      </code></pre>
    </Slide>

    <Slide>
      <h3><code>strip()</code></h3>
      <pre
        class="adw-space-mini"><code data-trim class="language-python">
        text = "    Ahoj!    "
        print(f"'{"{text}"}'")
        print(f"'{"{text.strip()}"}'")
      </code></pre>
      <pre
        class="adw-space-mini"><code data-trim class="language-plaintext">
        '    Ahoj!    '
        'Ahoj!'
      </code></pre>
    </Slide>

    <Slide>
      <h3><code>replace()</code></h3>
      <pre
        class="adw-space-mini"><code data-trim class="language-python">
        text = "Java je nejlepší!"
        print(text.replace("Java", "Python"))
      </code></pre>
      <pre
        class="adw-space-mini"><code data-trim class="language-plaintext">
        Python je nejlepší!
      </code></pre>
    </Slide>
  </Slide>

  <Slide>
    <Slide data-auto-animate>
      <h2>Funkce</h2>
    </Slide>

    <Slide data-auto-animate class="adw-rows adw-gap">
      <h2>Funkce</h2>
      <p>soubor příkazů, který můžeme podle potřeby volat</p>
    </Slide>

    <Slide data-auto-animate class="adw-rows adw-gap">
      <h2>Funkce</h2>
      <p><code>print()</code>, <code>input()</code>, …</p>
    </Slide>

    <Slide data-auto-animate class="adw-rows adw-gap">
      <h2>Funkce</h2>
      <div>
        <p>program je vhodné rozdělit na menší podproblémy</p>
        <p class="fragment adw-space-mini">
          pro každý podproblém vytvoříme jednu specializovanou funkci
        </p>
      </div>
    </Slide>

    <Slide data-auto-animate class="adw-rows adw-gap">
      <h2>Funkce</h2>

      <div>
        <p>mohou mít:</p>
        <div class="adw-space-mini adw-text-small">
          <p>vstupní parametry</p>
          <p>navratová hodnota</p>
        </div>
      </div>
    </Slide>

    <Slide data-auto-animate>
      <h2>Funkce</h2>
      <pre
        class="adw-space-small"><code data-trim class="language-python">
        def umocni(vstupni_cislo):
          vystupni_cislo = vstupni_cislo ** 2
          return vystupni_cislo
      </code></pre>
      <div class="fragment adw-space-small">
        <pre><code data-trim class="language-python">
          print(umocni(4))
        </code></pre>
        <pre
          class="adw-space-mini"><code data-trim class="language-plaintext">
          16
        </code></pre>
      </div>
    </Slide>

    <Slide>
      <h3>Načítání čísel z konzole</h3>
      <pre
        class="adw-space-small"><code data-trim class="language-python">
        def nacti_cislo():
          while True:
            try:
              return int(input("Zadejte číslo: "))
            except:
              print("Neplatný vstup!")
      </code></pre>
    </Slide>
  </Slide>

  <Slide>
    <Slide variant="dark" class="adw-text-start adw-text-small">
      <h2>Zdroje</h2>
      <ul class="adw-space" style="display: grid; gap: 1em;">
        <li>
          ITnetwork – PyCharm a první konzolová aplikace v Pythonu <i
            >[cit. 2. 10. 2023]</i
          ><br />
          <small>
            https://www.itnetwork.cz/python/zaklady/pycharm-a-prvni-konzolova-aplikace-v-pythonu
          </small>
        </li>
        <li>
          ITnetwork – Proměnné a typový systém v Pythonu <i
            >[cit. 2. 10. 2023]</i
          ><br />
          <small>
            https://www.itnetwork.cz/python/zaklady/python-tutorial-promenne-zakladni-datove-typy-a-funkce
          </small>
        </li>
        <li>
          ITnetwork – Načítání hodnot z konzole a parsování v Pythonu <i
            >[cit. 2. 10. 2023]</i
          ><br />
          <small>
            https://www.itnetwork.cz/python/zaklady/nacitani-hodnot-z-konzole-a-parsovani-v-pythonu
          </small>
        </li>
      </ul>
    </Slide>

    <Slide variant="dark" class="adw-text-start adw-text-small">
      <h2>Zdroje</h2>
      <ul class="adw-space" style="display: grid; gap: 1em;">
        <li>
          ITnetwork – Podmínky (větvení) v Pythonu <i>[cit. 2. 10. 2023]</i><br
          />
          <small>
            https://www.itnetwork.cz/python/zaklady/python-tutorial-cykly-while-for-in-funkce-range-a-vyraz-pass
          </small>
        </li>
        <li>
          ITnetwork – Cyklus while v Pythonu <i>[cit. 2. 10. 2023]</i><br />
          <small>
            https://www.itnetwork.cz/python/zaklady/cyklus-while-v-pythonu
          </small>
        </li>
        <li>
          ITnetwork – Seznam v Pythonu <i>[cit. 9. 10. 2023]</i><br />
          <small>
            https://www.itnetwork.cz/python/zaklady/seznamy-v-pythonu-jejich-zakladni-funkce-a-metody
          </small>
        </li>
      </ul>
    </Slide>

    <Slide variant="dark" class="adw-text-start adw-text-small">
      <h2>Zdroje</h2>
      <ul class="adw-space" style="display: grid; gap: 1em;">
        <li>
          ITnetwork – Cyklus for v Pythonu <i>[cit. 9. 10. 2023]</i><br />
          <small>
            https://www.itnetwork.cz/python/zaklady/cykly-v-pythonu
          </small>
        </li>
        <li>
          ITnetwork – Textové řetězce v Pythonu <i>[cit. 24. 10. 2023]</i><br />
          <small>
            https://www.itnetwork.cz/python/zaklady/python-tutorial-retezce-zaklady
          </small>
        </li>
        <li>
          ITnetwork – Funkce a výjimky v Pythonu <i>[cit. 13. 11. 2023]</i><br
          />
          <small>
            https://www.itnetwork.cz/python/zaklady/python-tutorial-funkce-a-vyjimky
          </small>
        </li>
      </ul>
    </Slide>
  </Slide>
</Reveal>
