@use "sass:map";

$colors: (
  "light": (
    "accent": (
      "fill": #1c71d8,
      "bg": #3584e4,
      "fg": #ffffff,
    ),
    "destructive": (
      "fill": #c01c28,
      "bg": #e01b24,
      "fg": #ffffff,
    ),
    "success": (
      "fill": #1b8553,
      "bg": #2ec27e,
      "fg": #ffffff,
    ),
    "warning": (
      "fill": #9c6e03,
      "bg": #e5a50a,
      "fg": rgba(0, 0, 0, 0.8),
    ),
    "error": (
      "fill": #c01c28,
      "bg": #e01b24,
      "fg": #ffffff,
    ),
    "window": (
      "bg": #fafafa,
      "fg": rgba(0, 0, 0, 0.8),
    ),
    "view": (
      "bg": #ffffff,
      "fg": rgba(0, 0, 0, 0.8),
    ),
    "headerbar": (
      "bg": #ffffff,
      "fg": rgba(0, 0, 0, 0.8),
      "border": rgba(0, 0, 0, 0.8),
      "backdrop": #fafafa,
      "shade": rgba(0, 0, 0, 0.12),
      "darker-shade": rgba(0, 0, 0, 0.12),
    ),
  ),
  "dark": (
    "accent": (
      "fill": #78aeed,
      "bg": #3584e4,
      "fg": #ffffff,
    ),
    "destructive": (
      "fill": #ff7b63,
      "bg": #c01c28,
      "fg": #ffffff,
    ),
    "success": (
      "fill": #8ff0a4,
      "bg": #26a269,
      "fg": #ffffff,
    ),
    "warning": (
      "fill": #f8e45c,
      "bg": #cd9309,
      "fg": rgba(0, 0, 0, 0.8),
    ),
    "error": (
      "fill": #ff7b63,
      "bg": #c01c28,
      "fg": #ffffff,
    ),
    "window": (
      "bg": #242424,
      "fg": #ffffff,
    ),
    "view": (
      "bg": #1e1e1e,
      "fg": #ffffff,
    ),
    "headerbar": (
      "bg": #303030,
      "fg": #ffffff,
      "border": #ffffff,
      "backdrop": #242424,
      "shade": rgba(0, 0, 0, 0.36),
      "darker-shade": rgba(0, 0, 0, 0.9),
    ),
  ),
);

$colorPalette: (
  "blue": (
    "1": #99c1f1,
    "2": #62a0ea,
    "3": #3584e4,
    "4": #1c71d8,
    "5": #1a5fb4,
  ),
  "green": (
    "1": #8ff0a4,
    "2": #57e389,
    "3": #33d17a,
    "4": #2ec27e,
    "5": #26a269,
  ),
  "yellow": (
    "1": #f9f06b,
    "2": #f8e45c,
    "3": #f6d32d,
    "4": #f5c211,
    "5": #e5a50a,
  ),
  "orange": (
    "1": #ffbe6f,
    "2": #ffa348,
    "3": #ff7800,
    "4": #e66100,
    "5": #c64600,
  ),
  "red": (
    "1": #f66151,
    "2": #ed333b,
    "3": #e01b24,
    "4": #c01c28,
    "5": #a51d2d,
  ),
  "purple": (
    "1": #dc8add,
    "2": #c061cb,
    "3": #9141ac,
    "4": #813d9c,
    "5": #613583,
  ),
  "brown": (
    "1": #cdab8f,
    "2": #b5835a,
    "3": #986a44,
    "4": #865e3c,
    "5": #63452c,
  ),
  "light": (
    "1": #ffffff,
    "2": #f6f5f4,
    "3": #deddda,
    "4": #c0bfbc,
    "5": #9a9996,
  ),
  "dark": (
    "1": #77767b,
    "2": #5e5c64,
    "3": #3d3846,
    "4": #241f31,
    "5": #000000,
  ),
);

@function getColor($name, $shade, $style: "light") {
  $names: map.get($colors, $style);
  $shades: map.get($names, $name);
  @return map.get($shades, $shade);
}

@function getPaletteColor($name, $shade) {
  $shades: map.get($colorPalette, $name);
  @return map.get($shades, $shade);
}
