.fragment {
  &.c-fade-out-left {
    opacity: 1;
    visibility: unset;

    &.visible {
      opacity: 0;
      transform: translate(-10em);
    }
  }

  &.c-fade-out-right {
    opacity: 1;
    visibility: unset;

    &.visible {
      opacity: 0;
      transform: translate(10em);
    }
  }

  &.c-fade-in-left {
    opacity: 0;
    transform: translate(-10em);

    &.visible {
      opacity: 1;
      visibility: unset;
      transform: unset;
    }
  }

  &.c-fade-in-right {
    opacity: 0;
    transform: translate(10em);

    &.visible {
      opacity: 1;
      visibility: unset;
      transform: unset;
    }
  }
}
