.adw-arrow {
  display: inline-block;
  position: relative;

  div {
    position: absolute;
    inset-inline-end: calc(50% + 0.6em);
    inset-block-start: calc(100% + 0.4em);

    &::after {
      content: "⮥";
      position: absolute;
      inset-inline-start: calc(100% + 0.2em);
      inset-block-end: 20%;
    }
  }
}

.adw-full-width {
  display: block;
  width: 100%;
}

.adw-gap {
  gap: 1em;
}

.adw-center {
  display: grid;
  place-content: center;
}

.adw-items-center {
  display: grid;
  place-items: center;
}

.adw-rows {
  display: grid;
}

.adw-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}

.adw-space {
  margin-block-start: 2em;
}

.adw-space-small {
  margin-block-start: 1em;
}

.adw-space-mini {
  margin-block-start: 0.5em;
}

.adw-text-small {
  font-size: 0.8em;
}

.adw-text-start {
  text-align: start;
}

.adw-text-center {
  text-align: center;
}
