@use "colors";

.reveal-viewport {
  --font-size: 60px;
  --font-body: Inter, sans-serif;
  --font-monospace: Ubuntu Mono, monospace;

  --transition-duration: 800ms;
  --transition-timing: cubic-bezier(0.26, 0.86, 0.44, 0.985);
  --transition: var(--transition-duration) var(--transition-timing);

  @each $style, $names in colors.$colors {
    @each $name, $shades in $names {
      @each $shade, $value in $shades {
        --color-#{$name}-#{$shade}-#{$style}: #{$value};
      }
    }
  }

  @each $name, $shades in colors.$colorPalette {
    @each $shade, $value in $shades {
      --color-palette-#{$name}-#{$shade}: #{$value};
    }
  }
}
