.reveal-viewport {
  background-color: var(--color-palette-dark-5);
}

@media print {
  .backgrounds {
    background-color: var(--color-palette-dark-5);
  }
}

.reveal {
  font-family: var(--font-body);
  font-size: var(--font-size);
  font-weight: normal;

  .controls,
  .progress {
    transition: color var(--transition);
  }

  .slides section,
  .slides section > section {
    display: grid !important;
    align-content: center;

    // padding: 1em;
    line-height: 1.3;
    font-weight: inherit;

    :where(& *, & *::before, & *::after) {
      box-sizing: border-box;
      margin: unset;
      padding: unset;

      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;

      // &:not(:last-child) {
      //   margin-block-end: 1em;
      // }
    }
  }
}
