@function fs($fs) {
  @return calc(var(--font-size) * $fs);
}

.reveal {
  a {
    position: relative;
    isolation: isolate;

    color: var(--slide-accent);
    text-decoration: none;

    transition: color 0.15s ease;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: -0.2em;
      border-radius: 0.4em;
      background-color: currentColor;
      opacity: 0.2;
      transition: opacity 0.2s ease;
    }

    &:hover::before {
      opacity: 0.28;
    }
  }

  h1 {
    font-size: fs(2);
    font-weight: 300;
  }

  h2 {
    font-size: fs(1.8);
    font-weight: 600;
  }

  h3 {
    font-size: fs(1.4);
    font-weight: 600;
  }

  h4 {
    font-size: fs(1.2);
    font-weight: 800;
  }

  h5 {
    text-transform: uppercase;
  }

  h5,
  h6 {
    font-size: fs(1);
    font-weight: 700;
  }

  .big {
    font-size: fs(1.8);
  }

  strong,
  b {
    font-weight: bold;
  }

  em,
  i {
    font-style: italic;
  }

  ol,
  dl,
  ul {
    display: inline-block;
    text-align: left;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;

    ul {
      list-style-type: square;

      ul {
        list-style-type: circle;
      }
    }
  }

  ul ul,
  ul ol,
  ol ol,
  ol ul {
    display: block;
    margin-inline-start: 1em;
  }

  dt {
    font-weight: bold;
  }

  li,
  dd {
    margin-inline-start: 1em;
    margin-block-start: 0.4em;
  }

  small {
    font-size: 0.8em;
  }

  blockquote {
    font-size: 0.8em;
    border-inline-start: 0.2em solid currentColor;
    padding-block: 0.4em;
    padding-inline-start: 0.6em;
    opacity: 0.6;

    &[data-author]::after {
      content: attr(data-author);
      display: block;
      margin-top: 0.5em;
      font-size: 0.8em;
      font-style: italic;
    }
  }

  table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;

    th {
      font-weight: bold;
    }

    th,
    td {
      text-align: left;
      padding: 0.2em 0.5em 0.2em 0.5em;
      border-bottom: 1px solid;

      &[align="center"] {
        text-align: center;
      }

      &[align="right"] {
        text-align: right;
      }
    }

    tbody tr:last-child th,
    tbody tr:last-child td {
      border-bottom: none;
    }
  }

  code {
    --_padding: 0.2em;
    --_border-radius: 0.4em;
    --_background-color: var(--slide-fg);
    --_background-opacity: 0.12;

    position: relative;
    isolation: isolate;

    margin: var(--_padding);

    font-family: var(--font-monospace);

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset: calc(var(--_padding) * -1);
      border-radius: var(--_border-radius);
      background-color: var(--_background-color);
      opacity: var(--_background-opacity);
    }
  }

  pre {
    width: 100%;
    margin-inline: auto;
    text-align: start;

    > code {
      display: block;
      margin: 0;
      // width: fit-content;
      overflow: hidden;
      border-radius: 0.4em;
    }
  }

  // :not(pre) > code::before {
  //   content: "";
  //   position: absolute;
  //   z-index: -1;
  //   inset: -0.2em;
  //   border-radius: 0.4em;
  //   background-color: var(--slide-fg);
  //   opacity: 0.2;
  // }
}
