.reveal {
  section {
    color: var(--slide-fg);
  }

  .slide-background {
    background: var(--slide-bg);
  }

  section,
  .slide-background {
    --slide-bg: var(--color-window-bg-light);
    --slide-fg: var(--color-window-fg-light);
    --slide-accent: var(--color-accent-fill-light);
    --slide-controls: var(--slide-accent);

    &[data-variant="dark"] {
      --slide-bg: var(--color-window-bg-dark);
      --slide-fg: var(--color-window-fg-dark);
      --slide-accent: var(--color-accent-fill-dark);
      --slide-controls: var(--slide-accent);
    }

    &[data-variant="accent"] {
      --slide-bg: var(--color-accent-bg-light);
      --slide-fg: var(--color-accent-fg-light);
      --slide-accent: var(--slide-fg);
      --slide-controls: var(--slide-accent);
    }

    &[data-variant="destructive"] {
      --slide-bg: var(--color-destructive-bg-light);
      --slide-fg: var(--color-destructive-fg-light);
      --slide-accent: var(--slide-fg);
      --slide-controls: var(--slide-accent);
    }

    &[data-variant="blue"] {
      --slide-bg: var(--color-palette-blue-4);
      --slide-fg: var(--color-palette-light-1);
      --slide-accent: var(--slide-fg);
      --slide-controls: var(--slide-accent);
    }

    &[data-variant="green"] {
      --slide-bg: var(--color-palette-green-4);
      --slide-fg: var(--color-palette-light-1);
      --slide-accent: var(--slide-fg);
      --slide-controls: var(--slide-accent);
    }

    &[data-variant="yellow"] {
      --slide-bg: var(--color-palette-yellow-4);
      --slide-fg: var(--color-palette-dark-5);
      --slide-accent: var(--slide-fg);
      --slide-controls: var(--slide-accent);
    }

    &[data-variant="blue-green-gradient"] {
      --slide-bg: linear-gradient(
        164deg,
        var(--color-palette-blue-4),
        var(--color-palette-green-4)
      );
      --slide-fg: var(--color-palette-light-1);
      --slide-accent: var(--slide-fg);
      --slide-controls: var(--slide-accent);
    }

    &[data-variant="blue-purple-gradient"] {
      --slide-bg: linear-gradient(
        164deg,
        var(--color-palette-blue-3),
        var(--color-palette-purple-1)
      );
      --slide-fg: var(--color-palette-light-1);
      --slide-accent: var(--slide-fg);
      --slide-controls: var(--slide-accent);
    }

    &[data-variant="yellow-red-gradient"] {
      --slide-bg: linear-gradient(
        164deg,
        var(--color-palette-yellow-3),
        var(--color-palette-red-3)
      );
      --slide-fg: var(--color-palette-light-1);
      --slide-accent: var(--slide-fg);
      --slide-controls: var(--slide-accent);
    }
  }
}
