---
import "reveal.js/css/reveal.scss";

type Props = {
  title?: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title || "reveal.js slides"}</title>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <slot />
      </div>
    </div>

    <script src="../scripts/reveal.ts"></script>
  </body>
</html>
